In [7]:
import os
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [14]:
from pathlib import Path

path = Path('../data/processed/pantip_incoming_10.csv').resolve();
di_graph = nx.DiGraph()
with open(path, 'r') as input_file:
    while True:
        line = input_file.readline().rstrip()

        # EOF
        if line == '':
            break

        splits = line.split(',')
        # prevent self-loop
        if splits[0] != splits[1]:
            di_graph.add_edge(splits[1], splits[0])

# Finding the Giant Component
undi_graph = di_graph.to_undirected()
graph_components = (undi_graph.subgraph(c) for c in nx.connected_components(undi_graph));
graph_components = sorted(graph_components, key=len, reverse=True)

giant_component =  di_graph.subgraph(graph_components[0].nodes())

edge_df = pd.DataFrame(columns=[ 'source','dest' ])
for index, edge in enumerate(giant_component.edges()):
    (src, dest) = edge
    edge_df.loc[index] = [ src, dest ]

edge_df

        source      dest
0     30629027  32735597
1     30629027  34632019
2     30629027  30390329
3     30629027  31053379
4     34813914  34196802
5     32957932  31462494
6     32957932  32853501
7     32957932  31186405
8     35240983  34522628
9     30895515  35611805
10    36143682  36237113
11    36143682  34703029
12    36143682  35282948
13    36143682  36354697
14    36936998  32741902
15    32736864  34330795
16    35515252  34724092
17    38179130  38179056
18    38179130  38178875
19    38179130  38178979
20    38179130  38179103
21    36684840  30158188
22    31950709  31922772
23    31950709  37247226
24    34695946  33725021
25    34695946  34004437
26    34695946  36083875
27    36501813  32565130
28    36501813  36316502
29    36542555  36479370
...        ...       ...
7803  36267341  36267644
7804  37048344  36995305
7805  32992950  31051358
7806  32992950  31035885
7807  35002453  35501046
7808  35002453  32334922
7809  37234719  37098714
7810  37234719  36160751
7811  37234719  37231807
7812  37234719  34021173
7813  34585790  35833521
7814  36122948  34939280
7815  36122948  36123027
7816  36122948  36090336
7817  36122948  30841878
7818  36122948  33206284
7819  36122948  35268010
7820  38161996  38161761
7821  37457228  37089756
7822  35937208  33052354
7823  35937208  32447263
7824  35937208  31739827
7825  31592605  36955492
7826  33004094  34934967
7827  35830911  31385983
7828  35830911  32860488
7829  34454325  35315126
7830  37326779  35900305
7831  31385983  33154283
7832  31385983  32860488

[7833 rows x 2 columns]